/* HIDE THE LANGUAGE DROPDOWN COMPLETELY */
.bn-container[data-theming-css-variables] .bn-block-content[data-content-type="codeBlock"] select,
.bn-container[data-theming-css-variables] .bn-block-content[data-content-type="codeBlock"] .bn-language-selector,
.bn-container[data-theming-css-variables] div[data-content-type="codeBlock"]>div:first-child {
    display: none !important;
    visibility: hidden !important;
}

/* Custom selection color inside code blocks */
.bn-container[data-theming-css-variables] .bn-block-content[data-content-type="codeBlock"] ::selection {
    background-color: var(--color-neutral-700) !important;
    color: inherit;
}

/* Firefox support */
.bn-container[data-theming-css-variables] .bn-block-content[data-content-type="codeBlock"] ::-moz-selection {
    background-color: var(--color-neutral-700) !important;
    color: inherit;
}

.bn-container[data-theming-css-variables] .bn-block-content[data-content-type="codeBlock"] {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
}
