/* Minimal BlockNote shadcn/ui Theme Configuration */
.bn-container[data-theming-css-variables][data-color-scheme] {
  /* Core Editor Colors */
  --bn-colors-editor-text: var(--foreground);
  --bn-colors-editor-background: var(--background);

  /* Menus and Popups */
  --bn-colors-menu-background: var(--color-popover);
  --bn-colors-menu-text: var(--color-popover-foreground);
  --bn-colors-tooltip-background: var(--color-popover);
  --bn-colors-tooltip-text: var(--color-popover-foreground);

  /* Interactive States */
  --bn-colors-hovered-background: var(--accent);
  --bn-colors-hovered-text: var(--accent-foreground);
  --bn-colors-selected-background: var(--primary);
  --bn-colors-selected-text: var(--primary-foreground);

  /* Muted States */
  --bn-colors-disabled-background: var(--muted);
  --bn-colors-disabled-text: var(--muted-foreground);
  --bn-colors-side-menu: var(--muted-foreground);

  /* Structure */
  --bn-colors-border: var(--border);
  --bn-colors-shadow: var(--shadow);

  /* Highlighting */
  --bn-color-highlight-colors: var(--primary);

  /* Design Tokens */
  --bn-border-radius: var(--radius);
  --bn-font-family: var(--font-sans);
}

/* Image Upload Placeholder */
.bn-container[data-theming-css-variables-demo] .bn-file-block-content,
.bn-container[data-theming-css-variables-demo] .bn-image-block-content {
  background: var(--muted) !important;
  border: 1px dashed var(--border) !important;
  color: var(--muted-foreground) !important;
}

.bn-container[data-changing-font] .bn-editor * {
  font-family: var(--font-custom);
}

.bn-container[data-theming-css-variables] input[type="checkbox"] {
  accent-color: var(--color-primary) !important;
}

.bn-container[data-theming-css-variables] a {
  color: var(--primary) !important;
  text-decoration: underline !important;
}

.bn-container[data-theming-css-variables] u {
  background: var(--color-card) !important;
  padding: var(--radius-md) !important;
  border-radius: var(--radius-md) !important;
  text-decoration: underline !important;
}

/* Force Image/File Upload Placeholder to respect theme */
.bn-container[data-theming-css-variables] .bn-add-file-button {
  display: none;
}

/* Hover state file/img upload */
.bn-container[data-theming-css-variables] .bn-add-file-button:hover {
  display: none;
}

.bn-container[data-theming-css-variables] .bn-visual-media,
.bn-container[data-theming-css-variables] .bn-visual-media-wrapper {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
}

.bn-container[data-theming-css-variables] .bn-file-name-with-icon {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  padding: 10px;
  margin-right: 2px;
  background: var(--color-secondary);
}
